/* General body styling */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Main Heading */
#main-heading {
    color: #E8178A;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

/* Navbar Styling */
.navbar {
    background-color: #E8178A;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 5px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.navbar ul li {
    text-align: center;
    float: left;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 5px;
    width: 150px;
    font-size: 15px;
    display: block;
}

.navbar a:hover {
    background-color: #bd2079;
}

/* Flexbox styling for sections: Text on the left, image on the right */
.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
}

/* Text Styling */
article {
    width: 60%;
    padding-right: 20px;
}

h2 {
    font-size: 22px;
    color: #E8178A;
    margin-bottom: 1px;
}

p {
    font-size: 17px;
    color: #333333;
}

/* Image Styling */
figure {
    width: 35%;
    margin: 0;
}

figure img {
    width: 100%;
    max-width: 300px;
}

/* Footer Styling */
footer {
    background-color: #E8178A;
    padding: 50px;
    margin: 0;
    text-align: center;
    color: white;
}

